<h1>Angular Image Cropper</h1>
<div class="container mt-5 text-center">
  <div class="col-md-6">
    <input type="file" (change)="onFileChange($event)">
  </div>
  <div>
    <div style="float: left;">
     <image-cropper
     [imageChangedEvent]="imageChangeEvent"
     [maintainAspectRatio]=true
     [aspectRatio]="4 / 3"
     format="png"
     (imageCropped)="imageCropped($event)"
     (imageLoaded)="imageLoaded($event)"
     (cropperReady)="cropperReady()"
     (loadImageFailed)="loadImageFailed()"
     ></image-cropper>

     <img [src]="croppedImage">
    </div>
  </div>

</div>
